files:
  "/etc/pki/tls/certs/server.crt":
    mode: "000644"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIERTCCAy2gAwIBAgIUBnU8CAUe8OZMXzcaV2bBczGeAKcwDQYJKoZIhvcNAQEL
      BQAwgbExCzAJBgNVBAYTAktSMQ4wDAYDVQQIDAVTZW91bDEQMA4GA1UEBwwHR3Vy
      by1ndTENMAsGA1UECgwEWFhYWDEPMA0GA1UECwwGU2VydmVyMT0wOwYDVQQDDDRw
      YWdlYnJvdGhlcnMtYXBpLmFwLW5vcnRoZWFzdC0yLmVsYXN0aWNiZWFuc3RhbGsu
      Y29tMSEwHwYJKoZIhvcNAQkBFhJiZG9oaGhoaEBnbWFpbC5jb20wHhcNMjQxMjA4
      MDU0NzIwWhcNMjUxMjA4MDU0NzIwWjCBsTELMAkGA1UEBhMCS1IxDjAMBgNVBAgM
      BVNlb3VsMRAwDgYDVQQHDAdHdXJvLWd1MQ0wCwYDVQQKDARYWFhYMQ8wDQYDVQQL
      DAzTZXJ2ZXIxPTA7BgNVBAMMNHBhZ2Vicm90aGVycy1hcGkuYXAtbm9ydGhlYXN0
      LTIuZWxhc3RpY2JlYW5zdGFsay5jb20xITAfBgkqhkiG9w0BCQEWEmJkb2hoaGho
      QGdtYWlsLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAN4dn2y3
      KGHQYUC7epeO2R94EuP9KJSJeVJeVevcibaWjMYc6/axb7JpodAhNSX/eSqhhoAL
      VlLp2P4QpAdw80g5yuhra1mIH4zOVDQWOJfPBy0+YGHRQEjBQLKAUbjKAwNDpbd4
      zM+oeO7xnnIlM3w3+hTrHszSJKc4LccnKcViKPXc8F3exaNx2sBjHQndoNX3GhwL
      vWkyM6EJGdAeW9PWS9Lvrt8vJKpXw3CImQ+74LgkvBa5yTp5xdPg/UIQeCO8AH2o
      sIsgsYWly7MOFQOnxiqyVJt0TR7bHISFzdObwYmzH5IuVk4sFgcqtzM7YInZTocd
      WTrKv07SenNpMiMCAwEAAaNTMFEwHQYDVR0OBBYEFHy5hpelZTgGqX4gayEuRxsa
      wyPyMB8GA1UdIwQYMBaAFHy5hpelZTgGqX4gayEuRxsawyPyMA8GA1UdEwEB/wQF
      MAMBAf8wDQYJKoZIhvcNAQELBQADggEBAK5NmFZVuB8yC/DQ966yeNpKF+oOcA73
      De2W4l/brRM4Aslxy4Mxw7HuewvAKoFJuYWA1Z/YBraa9Whxo1Ee5/DpW6EnQW6y
      2tjdXtdiX34uxOVnwIbCsJdMP3J2Ns7KHC6R56T4rFJdl+rSxigqR6uOP+LerS5q
      c03HywiFzNah77rxqD94DVqwZZUPVzNFqLBHaJErx4HSv/53pwgj6bZjNJDTzKbz
      DlzvE2U4Q36UqOeQiV1oWUna1lK72UPTVxpTiGQaFPSQxfMJO/wAsfaJUS7bFpzQ
      zmBuIxR9zujBgY4wqHmJ3J0DzhI/NNLKRwHWbssP3uww/FO7xmWyexs=
      -----END CERTIFICATE-----

  "/etc/pki/tls/private/server.key":
    mode: "000600"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQDeHZ9styhh0GFA
      u3qXjtkfeBLj/SiUiXlSXlXr3Im2lozGHOv2sW+yaaHQITUl/3kqoYaAC1ZS6dj+
      EKQHcPNIOcroa2tZiB+MzlQ0FjiXzwctPmBh0UBIwUCygFG4ygMDQ6W3eMzPqHju
      8Z5yJTN8N/oU6x7M0iSnOC3HJynFYij13PBd3sWjcdrAYx0J3aDV9xocC71pMjOh
      CRnQHlvT1kvS767fLySqV8NwiJkPu+C4JLwWuck6ecXT4P1CEHgjvAB9qLCLILGF
      pcuzDhUDp8YqslSbdE0e2xyEhc3Tm8GJsx+SLlZOLBYHKrczO2CJ2U6HHVk6yr9O
      0npzaTIjAgMBAAECggEAM69M861DFk+48akug6nX2DzGmIrGMJo0wvf0ome1G+m4
      ZDlCpyruxONTpey0Q11JQqRHefApbC3CMoyIvrqHwdzA3IhyeGj2fntcmKo7DQg9
      sUd8ggaBIOznMyIs4gUP4miRXToc3o1jZqaOqh0B9/vGk6uKhTq5ELg/3sG8NJON
      y1pYtCLCfZCFJ6rliDluGW9021MPxFASt5R7WnACOrS/bC7zZ7VHkE71QzifjOLK
      CtERGL81CzeXBiDk+2igl1MnNX3Momp4jMZhbh4D5My7gQsUVRVt8iyLrZh/qItt
      2ntiNXGyTQpeSzKxNl5M84GfyuzT8AOEdNgMg36F0QKBgQD3ZLgXvmR6gqL4m5US
      LYtcXVY/JAiCtogpAQR52vBkMDwWXP/I3AW/zY6sEwKNc7pp3VZUyzSlxp2ouOIp
      j75/Y643kmc4GSZ76mJ6+1z5nwFbAQYyCTmnKJx5FKhZiTNC1ZjADOhPH6BIPwAn
      64e1yqioHNgj69PR3SUEaapVLwKBgQDl18fhJIGI7pkv1JALi/8qvTodXVbxpuHs
      rt8BrPCEIiAh57ZcJbsu+8PtmLdRldskGhuXTwGzYE8qvbqWHf9yheiK5buTgIej
      tSH5HX8uwGWMifPCJQSClPCMXpJUJJ6TWlbtuaZ0ya3kc5POe1AZPcl9WF13tAff
      1zI4+ZzdTQKBgAvwnX3v33OWOH1dLO2qqw4zJwV3HL4KRzoLZYboDTAYr924cVPl
      YpWmOxuM81OWYUnYt+DxycGye0t4WNn+qQgG7JKcC0VG2XejkUs0NIGLrgoRW5Yw
      ocyiBLD73gayhGQs4WZWeDvutGh0MUcdflNJaSvd7MMH7YCQVYcL29bAoGAWH2L
      ZxM3DBFQySl9i/SKeVoBVezp3H/z27w3/90lfLnmxScA/tlIB/7GoGN7sN2RUYT7
      unWgof8ie8IwZDuIbf9AWLm6Tj/d+RlzywWgQc+xSTqTrtuxsNTHCEQg8mRm6TSO
      41fmznAXky0sawLvA8jWGnw7ACtAHN4tZ+IyksECgYABXzG56Lc6Rgyz11Y52Ha4
Ur0sdxUupuBa9UnNA+BBtbqCGBMlX6GYhXgqgcFAJdZGqeeKaK3tlu/KVO6d5V/g
NBaYjEpOdD0g69/EfaPwwACwmbJbm5jgfvmh58RiVR0ET7S/U2xXt+JzOsM/OiFg
QB+F1H0Bpzkx5BKa8shZPw==
      -----END PRIVATE KEY-----

container_commands:
  enable_https:
    command: |
      echo "Enabling HTTPS in Nginx..."
      sed -i 's/listen 80;/listen 443 ssl;/' /etc/nginx/conf.d/elasticbeanstalk-nginx-docker-proxy.conf
      sed -i '/listen 443 ssl;/a ssl_certificate /etc/pki/tls/certs/server.crt; ssl_certificate_key /etc/pki/tls/private/server.key;' /etc/nginx/conf.d/elasticbeanstalk-nginx-docker-proxy.conf
      service nginx restart